<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex="25%"
    fxFlex.xs="100%"
    fxFlex.sm="33%"
    *ngFor="let game of games | async"
  >
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>{{ game.title }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="game.imageUrl"
      />
      <mat-card-content>
        <p>{{ game.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center end">
          <button mat-button (click)="detail(game._id)">DETALLE</button>
          <button mat-button (click)="modify(game._id)">EDITAR</button>
          <button mat-icon-button aria-label="add icon" (click)="delete(game._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
