<section fxLayout='column' fxLayoutAlign="space-around center">
  <div>
    <div fxFlex.xs="80vw" fxFlex.sm="65vw" fxFlex.lg="45vw">
      <h2>Editar Juego</h2>
      <app-form
      *ngIf="game"
      [game]="game"
      [edit]="true"
      [detail]="false"
      (post)="updateGame($event)"
      ></app-form>
      <div class="form-element" fxLayout="row" fxLayoutAlign="start start">
        <button mat-raised-button color="accent" class="button" (click)="goHome()">Volver</button>
      </div>

    </div>
  </div>
</section>
